image: python:3.7-alpine

test:
  stage: test
  script:
  - apk update && apk install -y build-essential
  - pip install -U sphinx sphinx_rtd_theme
  - cd docs/ && make html
  - mv _build/html ../public
  only:
  - branches
  except:
  - master

pages:
  stage: deploy
  script:
  - apk update && apk install -y build-essential
  - pip install -U sphinx sphinx_rtd_theme
  - cd docs/ && make html
  - mv _build/html ../public
  artifacts:
    paths:
    - public
  only:
  - master
