app/properties/properties.yaml
app/properties/test_properties.yaml
.idea/
app/__pycache__/
app/models/__pycache__/
app/tests/__pycache__/
app/preprocessing/__pycache__/
app/output/
app/output_backup/
app/Datasets/
app/resources/
docs/build
public
app/docs/_build
/app/output/
/app/utils/__pycache__/*.pyc
app/tests/__pycache__/